/*背景、文字、画面サイズ*/
body{
    background:#1f1f33;
    font-family: Arial,sans-serif;
    font-size:16px;
    width: 500px;
    color:#fff;
    border-style: solid;
    border-width: 3px;
    border-color:#fff;
    padding: 5px;
    margin: 15px;
}

ul{
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 0px;
}

li:hover{
    opacity: .8;
    background-color: #3e3e66;
    cursor:pointer;
}
